@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Super.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baseneuvo';
  src: url('/fonts/BaseNeueTrial-SuperCnSmBdObl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-x: hidden;
} 

/* Local Matrix font for C2C modal */
@font-face {
  font-family: 'Matrix';
  src: url('/fonts/matrix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}